<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DualTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DualTerminal.Properties.Settings>
            <setting name="port1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="port2" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
        </DualTerminal.Properties.Settings>
    </userSettings>
</configuration>